@model IEnumerable<AppRestaurantSiglo21.Models.DropDownList>

@{
    ViewBag.Title = "Index";
    Layout = Session["Layout"].ToString();
}
<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h4>Tipos de Insumos</h4>
        </div>
    </div>
    <br />
    <table class="table" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif">
        <tr>
            <th>Código Tipo Insumo</th>
            <th>Tipo Insumo</th>
        </tr>
        @foreach (var ins in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => ins.Id)</td>
                <td>@Html.DisplayFor(x => ins.Descripcion)</td>
                <td>@Html.ActionLink("Detalle Insumo", "SolicitarInsumo", new { IdProveedor = @Session["IdProveedor"], IdTipoInsumo = ins.Id }, new { @class = "btn btn-warning" })</td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Volver atrás", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
