@model IEnumerable<AppRestaurantSiglo21.Models.ESTADOMESA>

@{
    ViewBag.Title = "Index";
    Layout = Session["Layout"].ToString();
    }
<div class="container">


    <div class="card text-center">
        <div class="card-body">
            <h4>Listado de Disponibilidad</h4>
        </div>
    </div>
    <br />

    <p>
        @Html.ActionLink("Crear Registro", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif">
        <tr>
            <th>
                Nro de Mesa
            </th>
            <th>
                Estado de Mesa
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDESTADOMESA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCESTADOMESA)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IDESTADOMESA }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detalles", "Detail", new { id = item.IDESTADOMESA }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IDESTADOMESA }, new { @class = "btn btn-danger" })
                </td>

            </tr>
        }

    </table>
</div>