@model AppRestaurantSiglo21.Models.PROVEEDOR

@{
    ViewBag.Title = "Edit";
    Layout = Session["Layout"].ToString();
}
<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h4>Editar Proveedor</h4>
        </div>
    </div>
    <br />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Rut Proveedor
            <div class="col-md-10">
                <input type="text" value="@ViewBag.Rutproveedor" class="form-control" disabled placeholder="8 dígitos mas guión, ej: 99999999-9">
            </div>
        </div>        

        @Html.HiddenFor(model => model.RUTPROVEEDOR)
        @Html.HiddenFor(model => model.DVPROVEEDOR)
        @Html.HiddenFor(model => model.IDPROVEEDOR)

        @*<input type="hidden" id="RUTPROVEEDOR" name="RUTPROVEEDOR"  value="@ViewBag.Rutproveedor" />*@
        @*<input type="hidden" id="RUTPROVEEDOR" name="RUTPROVEEDOR" value="1" />
        <input type="hidden" id="DVPROVEEDOR" name="DVPROVEEDOR" value="3" />*@

        <div class="form-group">
            Nombre Proveedor
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMPROV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMPROV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Fono Proveedor
            <div class="col-md-10">
                @Html.EditorFor(model => model.FONO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FONO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tipo Proveedor
            <div class="col-md-4">
                @Html.EditorFor(model => model.DESCTIPOPROVEEDOR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESCTIPOPROVEEDOR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Estado Proveedor
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.IDESTPROVEEDOR, new SelectList(ViewBag.EstadoProveedor1, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "idEstPropuesta" })
                @Html.ValidationMessageFor(model => model.IDESTPROVEEDOR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Guardar</button>

                @if (ViewBag.message != null)
                {
                    <script type="text/javascript">
                            window.onload = function () {
                                alert("@ViewBag.message");
                            };
                    </script>
                }

            </div>
        </div>

        <br />
        <br />
        <div> @Html.ActionLink("Volver atrás", "Index", null, new { @class = "btn btn-secondary" })</div>
    </div>
    }
</div>
