
@model IEnumerable<AppRestaurantSiglo21.Models.VistaOrdenes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Principal.cshtml";
}
<div class="container">


    <div class="card text-center">
        <div class="card-body">
            <h4>Listado de Pago de Ordenes</h4>
        </div>
    </div>
    <br />

    <table class="table" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif">
        <tr>
            <th>
                Orden
            </th>
            <th>
                Fecha Orden
            </th>
            <th>
                Estado Orden
            </th>
            <th>
                Mesa
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelOrden => item.IdOrden1)
                </td>
                <td>
                    @Html.DisplayFor(modelOrden => item.FechaOrden1)
                </td>
                <td>
                    @Html.DisplayFor(modelOrden => item.DescEstadoOrden1)
                </td>
                <td>
                    @Html.DisplayFor(modelOrden => item.Mesa1)
                </td>
                <td>
                    @Html.ActionLink("Ver Detalle", "Pagar", new { id = item.IdOrden1 }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }

    </table>
</div>