
@model IEnumerable<AppRestaurantSiglo21.Models.VistaOrdenes>

@{
    ViewBag.Title = "Index";
    Layout = Session["Layout"].ToString();
}
<div class="container">


    <div class="card text-center">
        <div class="card-body">
            <h4>Listado de Pago de Ordenes</h4>
        </div>
    </div>
    <br />
    <p>
        @Html.ActionLink("Consultar Orden", "Index", null, new { @class = "btn btn-primary" })
    </p>

    @if (@ViewBag.Mensaje != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Mensaje
        </div>
    }
    else
    {        
        <table class="table table-striped">
            <tr>
                <th>Número Orden</th>
                <th>Mesa</th>
                <th>Estado Orden</th>
                <th>Fecha Orden</th>
                <th>Acciones</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelOrden => item.IdOrden1)</td>
                    <td>@Html.DisplayFor(modelOrden => item.DescMesa1)</td>
                    <td>@Html.DisplayFor(modelOrden => item.DescEstadoOrden1)</td>
                    <td>@Html.DisplayFor(modelOrden => item.FechaOrden1)</td>
                    <td>@Html.ActionLink("Validar Detalle", "ValidarOrden", new { id = item.IdOrden1 }, new { @class = "btn btn-warning" })</td>
                </tr>
            }
        </table>
    }
</div>

