@model AppRestaurantSiglo21.Models.PERSONA

@{
    ViewBag.Title = "Detail";
    Layout = Session["Layout"].ToString();
}

<div>
    <div class="container">
        <div class="form-horizontal">
            <div class="card text-center">
                <div class="card-body">
                    <h4>Detalles de Cliente</h4>
                </div>
            </div>
            <br />
            <hr />

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FECHAINGRESO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FECHAINGRESO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NOMBRE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.APELLIDOPATERNO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.APELLIDOPATERNO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.APELLIDOMATERNO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.APELLIDOMATERNO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DIRECCION)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DIRECCION)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FONO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FONO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EMAIL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EMAIL)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NOMBRE)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar Valores", "Edit", new { id = Model.IDPERSONA }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Volver atrás", "Index", null, new { @class = "btn btn-secondary" })
        </p>
    </div>
    
</div>
