@model IEnumerable<AppRestaurantSiglo21.Models.CLIENTE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
   // try { Layout = @Session["Layout"].ToString(); } catch{ Layout = "~/Views/Shared/_Principal.cshtml"; }
    
}

<h2>Listado de Clientes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        @*<th>
                ID
            </th>*@
        <th>
            FECHA INGRESO
        </th>
        <th>
            NOMBRE
        </th>
        <th>
            APELLIDO PATERNO
        </th>
        <th>
            APELLIDO MATERNO
        </th>
        <th>
            RUT
        </th>
        <th>
            DIRECCION
        </th>
        <th>
            FONO
        </th>
        <th>
            EMAIL
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<th>
                    @Html.DisplayFor(modelItem => item.IDCLIENTE)
                </th>*@
            <td>
                @Html.DisplayFor(modelItem => item.FECHAINGRESO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APELLIDOPATERNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APELLIDOMATERNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUTPERSONA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIRECCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FONO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDCLIENTE }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.IDCLIENTE }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDCLIENTE })
            </td>
        </tr>
    }

</table>
