@model AppRestaurantSiglo21.Models.RECETAPRODUCTO

@{
    ViewBag.Title = "Delete";
    Layout = Session["Layout"].ToString();
}

<h2>Eliminar un Registro</h2>

<h3>Estás seguro que deseas eliminar esto ?</h3>
<div>
    <h4>Receta Producto !</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDRECPRODUCTO)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRERECETA)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.INGREDIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ELABORACION)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.COMENSALES)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
