@model AppRestaurantSiglo21.Models.RECETAPRODUCTO
<!--//AQUI ARRIBA SE LE INDICA A LA VISTA QUE USE DEL MODELO LA TABLA RECETAPRODUCTO SI RECIBE DATOS-->

@{
    ViewBag.Title = "Edit";
    Layout = Session["Layout"].ToString();
}

<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h4>Editar Receta</h4>
        </div>
    </div>
    <br />
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <h4>Modifica la receta aquí...</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" }) <!-- ES SOLO UN VALIDADOR DE TEXTO -->
            <!-- ENVÍO COMO ATRIBUTO OCULTO EL VALOR CORRESPONDIENTE A LAS PK Y FK -->
            @Html.HiddenFor(model => model.IDRECPRODUCTO)

            <div class="form-group">

                <!-- EN ESTE FORM-GROUP ESTÁ EL LABEL, TEXTBOX Y MENSAJE DE VALIDACIÓN DEL CAMPO DESCRECETAPRODUCTO -->
                @Html.LabelFor(model => model.INGREDIENTE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.INGREDIENTE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INGREDIENTE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <!-- EN ESTE FORM-GROUP ESTÁ EL LABEL, TEXTBOX Y MENSAJE DE VALIDACIÓN DEL CAMPO CAPACIDAD -->
                @Html.LabelFor(model => model.ELABORACION, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ELABORACION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ELABORACION, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Guardar</button>
                </div>
            </div>
            <br />
            <br />
            <div> @Html.ActionLink("Volver atrás", "Index", null, new { @class = "btn btn-secondary" })</div>
        </div>
    }


</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
