@model AppRestaurantSiglo21.Models.MESA


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <h4>Mesa</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*<div class="form-group">
            @Html.LabelFor(x => x.IDMESA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.IDMESA, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.IDMESA, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(x => x.DESCMESA, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.DESCMESA, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.DESCMESA, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.IDLOCAL, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.IDLOCAL, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.IDLOCAL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.IDESTADOMESA, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.IDESTADOMESA, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.IDESTADOMESA, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.CAPACIDAD, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.CAPACIDAD, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CAPACIDAD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>

</div>
}
