@model AppRestaurantSiglo21.Models.MESA

@{
    ViewBag.Title = "Details";
    Layout = Session["Layout"].ToString();
}
<div class="container">


    <div class="card text-center">
        <div class="card-body">
            <h4>Detalle Mesa</h4>
        </div>
    </div>
    <br />

    <div>        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Mesa
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCMESA)
            </dd>
            <dt>
                Capacidad
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CAPACIDAD)
            </dd>

            <dt>
                Estado Mesa
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ESTADOMESA.DESCESTADOMESA)
            </dd>
            <dt>
                Local
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RESTAURANT.DIRECCIONLOCAL)
            </dd>
        </dl>
    </div>

    <p>

        @Html.ActionLink("Editar Valores", "Edit", new { id = Model.IDMESA }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Volver atrás", "Index", null, new { @class = "btn btn-secondary" })
    </p>
</div>