@model IEnumerable<AppRestaurantSiglo21.Models.MESA>

@{
    ViewBag.Title = "Index";
    Layout = Session["Layout"].ToString();
}
<div class="container">


    <div class="card text-center">
        <div class="card-body">
            <h4>Listado Mesas</h4>
        </div>
    </div>
    <br />

    <p>
        @Html.ActionLink("Crear Registro", "Create", null, new { @class = "btn btn-primary" })
    </p>    

    <table class="table">
        <tr>
            <th>
                Mesa
            </th>
            <th>
                Capacidad
            </th>
            <th>
                Estado Mesa
            </th>
            <th>
                Local
            </th>

        </tr>
        @foreach (var mesa in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => mesa.DESCMESA)
                </td>
                <td>
                    @Html.DisplayFor(x => mesa.CAPACIDAD)
                </td>
                <td>
                    @Html.DisplayFor(x => mesa.ESTADOMESA.DESCESTADOMESA)
                </td>
                <td>
                    @Html.DisplayFor(x => mesa.RESTAURANT.DIRECCIONLOCAL)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = mesa.IDMESA }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detalles", "Detail", new { id = mesa.IDMESA }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = mesa.IDMESA }, new { @class = "btn btn-danger" })
                </td>

            </tr>
        }

    </table>

</div>