@model AppRestaurantSiglo21.Models.TIPOPRODUCTO
<!--//AQUI ARRIBA SE LE INDICA A LA VISTA QUE USE DEL MODELO EL TIPO DE PRODUCTO SI RECIBE DATOS-->

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Editar un Tipo de Producto</h2>


@using (Html.BeginForm()) //AQUI PARTE EL FORM DE HTML EN FORMATO RAZOR
{
<div class="form-horizontal">
    <h4>Editar un Tipo de Producto</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" }) <!-- ES SOLO UN VALIDADOR DE TEXTO -->
    @Html.HiddenFor(model => model.IDTIPOPRODUCTO) <!-- ENVÍO COMO ATRIBUTO OCULTO EL VALOR DEL REGISTRO ID QUE TIENE LA FILA DE LA TABLA QUE SE VA A EDITAR -->

    <div class="form-group"> <!-- EN ESTE FORM-GROUP ESTÁ EL LABEL, TEXTBOX Y MENSAJE DE VALIDACIÓN DEL CAMPO DESTIPOPRODUCTO -->
        @Html.LabelFor(model => model.DESCTIPOPRODUCTO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DESCTIPOPRODUCTO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DESCTIPOPRODUCTO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group"> <!-- UN FORM-GROUP PARA PONER EL BOTON SUBMIT -->
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar cambios" class="btn btn-default" />
        </div>
    </div>
</div>
} <!--AQUI TERMINA EL FORM QUE ENVÍA POR METODO POST-->

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>