@model AppRestaurantSiglo21.Models.INSUMO

@{
    ViewBag.Title = "Delete";
    Layout = Session["Layout"].ToString();
}


<div class="container">
    <strong>¿Estás segura que decea eliminar?</strong>
    
    <div>
        <h4>Eliminar Insumo</h4>

        <dl class="dl-horizontal">

            @*<dt>
                    @Html.DisplayNameFor(model => model.IDINSUMO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDINSUMO)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.DESCINSUMO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCINSUMO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PRECIOINSUMO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PRECIOINSUMO)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {


            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Regresa a la lista", "Index")
            </div>
        }
    </div>
</div>