@model AppRestaurantSiglo21.Models.INSUMO

@{
    ViewBag.Title = "Delete";
    Layout = Session["Layout"].ToString();
}


<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h4>Eliminar Insumo</h4>
        </div>
    </div>
    <br />

    <div class="alert alert-danger" role="alert">
        <h5>¿ Estas seguro de eliminar este registro ?</h5>
    </div>

    <div>
        
        <dl class="dl-horizontal">
                        
            <dt>
                @Html.DisplayNameFor(model => model.DESCINSUMO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCINSUMO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PRECIOINSUMO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PESO)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-lg btn-danger btn-block">Eliminar</button>
            </div>
            <br />
            <br />
            <div> @Html.ActionLink("Volver atrás", "Index", null, new { idTipoInsumo = @Session["idTipoInsumo"], idInsumo = @Session["idInsumo"] }, new { @class = "btn btn-secondary" })</div>
        }
    </div>
</div>