@model AppRestaurantSiglo21.Models.INSUMO

@{
    ViewBag.Title = "Detail";
    Layout = Session["Layout"].ToString();
}

<div class="container">

    <div class="card text-center">
        <div class="card-body">
            <h4>Detalle Insumos</h4>
        </div>
    </div>
    <br />

    <div>
        
        <dl class="dl-horizontal">

            <dt>
                INSUMO
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCINSUMO)
            </dd>

            <dt>
                PRECIO INSUMO
            </dt>

            <dd>
                @Html.DisplayNameFor(model => model.PRECIOINSUMO)
            </dd>

            <dt>
                Estado Insumo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ESTADOPROVEEDOR.DESCESTPRO)
            </dd>
            <dt>
                Kilos/Litros
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PESO)
            </dd>

        </dl>
    </div>
    <p>        
        @Html.ActionLink("Editar Valores", "Edit", new { idTipoInsumo = @Session["idTipoInsumo"], idInsumo = @Session["idInsumo"] },  new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Volver atrás", "Index", null, new { idTipoInsumo = @Session["idTipoInsumo"], idInsumo = @Session["idInsumo"] }, new { @class = "btn btn-secondary" })
    </p>
</div>