@model IEnumerable<AppRestaurantSiglo21.Models.INSUMO>

@{
    ViewBag.Title = "Principal";
    Layout = Session["Layout"].ToString();
}
<div class="container">


    <div class="card text-center">
        <div class="card-body">
            <h4>Detalle De Insumos</h4>
        </div>
    </div>
    <br />
    <p>
        @Html.ActionLink("Crear Registro", "Create", null, new { idTipoInsumo = @Session["idTipoInsumo"] }, new { @class = "btn btn-primary" })
    </p>
    <table class="table" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif">
        <tr>
            <th>Insumo</th>
            <th>Precio Insumo</th>
            <th>Estado Insumo</th>
            <th>Kilos/Litros</th>
        </tr>
        @foreach (var ins in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(x => ins.IDINSUMO)
                    </td>*@
                <td>
                    @Html.DisplayFor(x => ins.DESCINSUMO)
                </td>
                <td>
                    @Html.DisplayFor(x => ins.PRECIOINSUMO)
                </td>
                <td>
                    @*@Html.DropDownListFor(model => ins.IDESTADOINSUMO, new SelectList(@ViewBag.EstadoInsumos, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "idEstInsumo", @disabled = "disabled" })*@
                    @Html.DisplayFor(x => ins.ESTADOPROVEEDOR.DESCESTPRO)
                </td>
                <td>
                    @Html.DisplayFor(x => ins.PESO)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { idTipoInsumo = @Session["idTipoInsumo"], idInsumo = ins.IDINSUMO }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detalles", "Detail", new { idTipoInsumo = @Session["idTipoInsumo"], idInsumo = ins.IDINSUMO }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { idTipoInsumo = @Session["idTipoInsumo"], idInsumo = ins.IDINSUMO }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Volver atrás", "Principal", null, new { @class = "btn btn-secondary" })
    </div>
</div>